* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --backgroungHeader : #F2F2F2;
    --colorFonts : #111111;
}
html {
    font-size: 62.5%;
}
header {
    min-width: 320px;
    max-width: 100%;
    background-image: url(../images/video1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;   
}

.content-logo-menu {
        display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: var(--backgroungHeader);
}
.img-logo {
    width: 50px;
    height: 50px;
}
.icon-menu {
    width: 25px; 
}
/*MENU*/
.ocultar {
    display: none;
}
.mostrar {
    display: block;
}
.menu-desktop {
    background-color: var(--backgroungHeader);
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    z-index: 1;
}
.icon-close {
    position: absolute;
    right: 30px; 
    top: 20px; 
}
.menu-desktop ul {
    list-style: none;
    margin-top: 80px;
    margin-left: 30px;
}
.menu-list {
    margin-top: 30px;
    margin-bottom: 30px;
}
.menu-desktop a {
    text-transform: uppercase;
    text-decoration: none;
    color: #006EC7;
    font-size: 1.5rem;
    font-weight: bold;

}
.content-title {
    background-color: #ffffff75;
    padding-top: 20px;
    width: 80%;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.029),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.037),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.044),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.052),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

header h1 {
    font-family: 'Epilogue', sans-serif;
    font-weight: 700;
    color: #006EC7;
    text-align: center;
    font-size: 4rem;
}
header h2 {
    color: var(--backgroungHeader);
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    font-size: 2.2rem;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.btn-promociones {
    font-family: 'Vollkorn', serif;
    font-weight: bold;
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 5px;
    left: 20px;
    bottom: -18px;
    background-color: #006EC7;
    color: var(--backgroungHeader);
    box-shadow:
    0.3px 2.7px 2.2px rgba(0, 0, 0, 0.03),
    0.7px 6.4px 5.2px rgba(0, 0, 0, 0.041),
    1.3px 12px 9.8px rgba(0, 0, 0, 0.048),
    2.2px 21.4px 17.4px rgba(0, 0, 0, 0.054),
    4.2px 40.1px 32.6px rgba(0, 0, 0, 0.059),
    10px 96px 78px rgba(0, 0, 0, 0.07);
}
.btn-covid {
    position: absolute;
    padding: 39px 5px;
    border: none;
    border-radius: 50%;
    right: 20px;
    background-color: red;
    color: var(--backgroungHeader);
    top: 570px;
    font-size: 1rem;
    font-family: 'Vollkorn', serif;
    font-weight: bold;
}
.btn-covid:hover {
    /*transform: translate(20px , -25px) ;*/
    transform: skew(20deg) ;
    transition: 1s;
}
.promociones-title {
    position: absolute;
    font-size: 5rem;
    color: blue;
    text-align: center;
    top: -10px;
    left: calc(50% - 118px);
}
.container-slider {
    display: flex;
    height: 400px;
    padding-top: 35px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    position: relative;
}
.objetivo {
    display: block;
    min-width: 320px;
    margin-top: 80px;
    margin-bottom: 50px;
    position: relative;
    padding-left: 15px;
}
.objetivo span {
    position: absolute;
    width: 40px;
    height: 60px;
    background: linear-gradient(300deg,#333333,#006ec7,#808080);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
    top: -5px;
    border-radius: 5px;
    z-index: -1;
}
.objetivo h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 20px;
}
.objetivo p {
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    width: 77%;
    text-align: start;
    margin-left: 50px;
    font-size: 1.5rem;
}
.slider-promociones {
    min-width: 300px;
    text-align: center;
    width: 315px;
    border: none;
    margin: 0 5px;
    border-radius: 10px;
    height: 300px;
    box-shadow:
  0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  0px 12.5px 10px rgba(0, 0, 0, 0.035),
  0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  0px 100px 80px rgba(0, 0, 0, 0.07);
}
.slider-promociones h3 {
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    margin-top: 11px;
    margin-bottom: 15px;
    padding-top: 15px;
}
.slider-promociones p {
    font-family: 'Vollkorn', serif;
    width: 80%;
    margin: 40px auto;
}
.slider-promociones img {
    width: auto;
}
.content-products {
    width: 100%;
    height: auto;
    min-width: 320px;
    margin-top: 50px;
    background-image: url('../images/fondos/mufid-majnun-oI20ehIGNd4-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.content-products__articles {
    display: flex;
    flex-wrap: wrap;
}
.content-products h2 {
    font-size: 3rem;
    text-align: center;
    color: #F2F2F2;
}
.content-product {    
    min-width: 300px;
    width: 305px;
    height: 305px;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow:
    0.3px 2.7px 2.2px rgba(0, 0, 0, 0.03),
    0.7px 6.4px 5.2px rgba(0, 0, 0, 0.041),
    1.3px 12px 9.8px rgba(0, 0, 0, 0.048),
    2.2px 21.4px 17.4px rgba(0, 0, 0, 0.054),
    4.2px 40.1px 32.6px rgba(0, 0, 0, 0.059),
    10px 96px 78px rgba(0, 0, 0, 0.07);
    
}
.content-product img {
    border-radius: 15px;
}
.content-marcas {
    width: 100%;
    height: auto;
    min-width: 320px;
    margin-top: 50px;
    background-image: url('../images/fondos/clay-banks-cEzMOp5FtV4-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*SLIDER*/
@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: white;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 50px;
    width: 250px;
  }
  
  .slide img{
    
  }
  /*FIN DEL SLIDER*/
.content-marcas h2 {
    font-size: 3rem;
    text-align: center;
    color: #006EC7;
}
.content-marca {    
    min-width: 300px;
    width: 305px;
    height: 305px;
    margin: 30px auto;
    border-radius: 15px;
    box-shadow:
    0.3px 2.7px 2.2px rgba(0, 0, 0, 0.03),
    0.7px 6.4px 5.2px rgba(0, 0, 0, 0.041),
    1.3px 12px 9.8px rgba(0, 0, 0, 0.048),
    2.2px 21.4px 17.4px rgba(0, 0, 0, 0.054),
    4.2px 40.1px 32.6px rgba(0, 0, 0, 0.059),
    10px 96px 78px rgba(0, 0, 0, 0.07);
    
}
.content-marcas__articles {
    display: flex;
    flex-direction: column;
}
.articles-text {
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    width: 77%;
    text-align: start;
    margin-left: 50px;
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.articles-text h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #006EC7;
}
.articles-text p {
    color: #202020;
}
footer {    
    background: linear-gradient(300deg,#333333,#006ec7,#808080);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; 
    display: flex;
    flex-direction: column;
    padding: 20px;
}
@keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
}
footer h3 {
    font-family: 'Epilogue', sans-serif;
    font-size: 2rem;
}
footer p, label {
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--backgroungHeader);
}
.contact-content {
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.correos {
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--backgroungHeader);
    line-height: 40px;
}
.tel-content {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 40px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around; 
    max-width: 700px;
    margin: 0 auto;   
}
input, textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.btn-env {
    margin-top: 15px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;

}