.icon-menu {
    display: none;
}
.img-logo {
    width: 220px;
    height: 210px;
    position: absolute;
    top: 80px;
}
.content-logo-menu {
    align-items: center;
    height: 10%;
}
.menu-desktop {
    display: block;
    background-color: transparent;
    width: 100%;
    height: auto;
}
.icon-close {
    display: none;
}
.menu-desktop ul {
    display: flex;
    list-style: none;
    margin-top: auto;
    margin-left: auto;
    justify-content: space-evenly;
}
.menu-list{
    margin-right: 20px;
    align-items: center;
    font-size: 1.5rem;
}
.menu-list a {
    text-decoration: none;
    color: #006EC7;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}
.menu-list a:hover {
    color: #737373
}
header h1 {
    text-align: right;
    margin-right: 40px;
    font-size: 4.5rem;
    margin-top: 60px;
}
.content-title {
    background-color: transparent;
}
header h2 {
    margin-top: 40px;
    font-size: 2.5rem;
    padding-left: 70px;   
}
.btn-covid {
    top: 600px;
}
.objetivo {
    margin-left: 40px;
    margin-right: 40px;
}
.content-marcas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin-top: 140px;
    position: relative;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../images/fondos/clay-banks-cEzMOp5FtV4-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content-marcas h2{
    position: absolute;
    font-size: 5rem;
    top: -80px;
}
.content-marcas__articles {
    display: flex;
    flex-direction: column;
}
footer {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}